.nav {
  justify-content: center;
  background-color: cadetblue;
}
.nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

/* global css */
.nav :global(.active) {
  background-color: red;
  color: #fff;
}
